<html>
<head>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 modaltitl">
			<table width="100%">
			<tr><td width="90%" class="modaltitltd">
				QR
			</td>
			<td width="10%" align="right" class="modaltitltd">
				<button type="button" class="modaltitlb" (click)="closeDialog()">X</button>
			</td></tr>
			</table>
		</div>
	</div>
</div>
	<div class="container" >
		<ng-container *ngIf="str_qrpath != ''">
			<div class="row">
				<div class="col-lg-12" align="center">
					<img src="{{str_qrpath}}" style="height:300px">
				</div>
			</div>
		</ng-container>
		<div class="row">
			<div *ngIf="flagInfoError" class="alert alert-danger col-lg-12" >
				Hubo un error al procesar esta acción, por favor intente de nuevo.
			</div>
		</div>
	</div>
</body>
</html>