<html>
<head>

</head>
<body>
    
	<div class="container">
	
	
	<!--img src="imagen-grd2.png" class="center"/-->
		<div class="row">
			<div class="col-lg-4 text-center">
				&nbsp;
			</div>
			<div class="col-lg-4 text-center">
				<img class="headerimg" />
			</div>
			<div class="col-lg-4 text-center">
				&nbsp;
			</div>
		</div>
	</div>

<div class="container">

 
  
  <!--div class="row">
    <h2></h2>
  </div-->
  <div class="row">
    <div class="col-lg-12">
      <form [formGroup]="quejaForm" (ngSubmit)="onSubmit()" novalidate>
		<div class="form-group row">
          <label for="" class="col-lg-3 col-form-label">Datos Consumidor</label>
		   
		<div class="col-lg-12">
            <div class="card">
              <div class="card-body">
			  
				<div class="form-group row">
				
				<label for="et1" >(-)</label>
				<label for="dpiPasaporte" class="col-lg-2 col-form-label" >DPI o pasaporte</label>
          <div class="col-lg-3">
            <input
              id="dpiPasaporte"
              type="text"
              class="form-control"
			  matTooltipPosition="after"
					  matTooltip="Ingrese su DPI o Pasaporte"
					  matTooltipClass="custom-tooltip-blue"
              formControlName="dpiPasaporte"
			  (change)="onDocumentoIdentificacionChanged()"
			  placeholder="Documento"
			  maxLength="50"
			  
			  >
				<div *ngIf="quejaForm.get('dpiPasaporte').errors && quejaForm.get('dpiPasaporte').dirty">
				<p *ngIf="quejaForm.get('dpiPasaporte').hasError('required')" [ngStyle]="{color: 'red'}">Ingrese su DPI o Pasaporte</p>
			  </div>
			  <div *ngIf="quejaForm.get('dpiPasaporte').errors && quejaForm.get('dpiPasaporte').dirty">
				<p *ngIf="quejaForm.get('dpiPasaporte').hasError('maxLength')" [ngStyle]="{color: 'red'}">DPI solo admite 50 caracteres</p>
			  </div>

          </div>
				  <label for="et2" [ngStyle]="{color: 'red'}" class="col-lg-1 col-form-label"></label>
				  <label for="et2" [ngStyle]="{color: 'red'}" >(*)</label>
				  <label for="nombre" class="col-lg-2 col-form-label">Nombre(s)</label>
				  <div class="col-lg-3">
					<input
					  id="nombre"
					  type="text"
					  class="form-control"
					  matTooltipPosition="after"
					  matTooltip="Ingrese su nombre"
					  matTooltipClass="custom-tooltip-blue"
					  formControlName="nombre" 
					  placeholder="Nombre(s)"
					  maxLength="300"
					  required>
					  <div *ngIf="quejaForm.get('nombre').errors && quejaForm.get('nombre').dirty">
				<p *ngIf="quejaForm.get('nombre').hasError('maxLength')" [ngStyle]="{color: 'red'}">Nombre solo admite 300 caracteres</p>
			  </div>
				  </div>
				  
				  
				</div>
				
				
	
	
				<div class="form-group row">
				
				<label for="et3" [ngStyle]="{color: 'red'}">(*)</label>
				  <label for="apellido" class="col-lg-2 col-form-label">Apellido(s)</label>
				  <div class="col-lg-3">
					<input
					  id="apellido"
					  type="text"
					  class="form-control"
					  matTooltipPosition="after"
					  matTooltip="Ingrese su apellido"
					  matTooltipClass="custom-tooltip-blue"
					  formControlName="apellido" 
					  placeholder="Apellido(s)"
					  maxLength="300"
					  required>
					  <div *ngIf="quejaForm.get('apellido').errors && quejaForm.get('apellido').dirty">
				<p *ngIf="quejaForm.get('apellido').hasError('maxLength')" [ngStyle]="{color: 'red'}">Apellido solo admite 300 caracteres</p>
			  </div>
				  </div>
					 <label for="et2" [ngStyle]="{color: 'red'}" class="col-lg-1 col-form-label"></label>
		 <label for="et4" [ngStyle]="{color: 'red'}">(*)</label>		
          <label for="telefono" class="col-lg-2 col-form-label">telefono</label>
          <div class="col-lg-3">
            <input
              id="telefono"
              type="text"
              class="form-control"
			  matTooltipPosition="after"
					  matTooltip="Ingrese su Número de teléfono"
					  matTooltipClass="custom-tooltip-blue"
              formControlName="telefono"
			  placeholder="Teléfono"
			   pattern="^[0-9]{8}$"
			  required>
			  <div *ngIf="quejaForm.get('telefono').errors && quejaForm.get('telefono').dirty">
				<p *ngIf="quejaForm.get('telefono').hasError('pattern')" [ngStyle]="{color: 'red'}" >Error en numero de telefono, solo admite números</p>
			  </div>
          </div>
		  
		  </div>
		  <div class="form-group row">
		  <label for="et5" [ngStyle]="{color: 'red'}">(*)</label>
		  <label for="correo" class="col-lg-2 col-form-label">Correo Electronico</label>
          <div class="col-lg-3">
            <input
              id="correo"
              type="text"
              class="form-control"
			  matTooltipPosition="after"
					  matTooltip="Ingrese su correo electrónico"
					  matTooltipClass="custom-tooltip-blue"
              formControlName="correo"
			  placeholder="Correo"
			  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
			  required>
			  <div *ngIf="quejaForm.get('correo').errors && quejaForm.get('correo').dirty">
				<p *ngIf="quejaForm.get('correo').hasError('pattern')" [ngStyle]="{color: 'red'}">Error en formato de correo</p>
			  </div>
          </div>
		  
        </div>
				
			
		<div class="form-group row">
		  <label for="et6" [ngStyle]="{color: 'red'}">(*)</label>
          <label for="detalleQueja" class="col-lg-2 col-form-label">Detalle Queja (sea breve y conciso)</label>
          <div class="col-lg-3">
            <textarea
              id="detalleQueja"
              class="form-control"
			  matTooltipPosition="after"
					  matTooltip="Ingrese su queja"
					  matTooltipClass="custom-tooltip-blue"
              formControlName="detalleQueja"
			  maxLength="1000"
			  required
			  ></textarea>
			  <div *ngIf="quejaForm.get('detalleQueja').errors && quejaForm.get('detalleQueja').dirty">
				<p *ngIf="quejaForm.get('detalleQueja').hasError('maxLength')" [ngStyle]="{color: 'red'}">Detalle de queda solo admite 250 caracteres</p>
			  </div>
          </div>
         <label for="et7" [ngStyle]="{color: 'red'}">(*)</label>
          <label for="solicitaQue" class="col-lg-2 col-form-label">Petición Queja (sea breve y conciso)</label>
          <div class="col-lg-3">
            <textarea
              id="solicitaQue"
              class="form-control"
			  matTooltipPosition="after"
					  matTooltip="Ingrese su solicitud de la queja ingresada."
					  matTooltipClass="custom-tooltip-blue"
              formControlName="solicitaQue"
			  required
			  ></textarea>
			  <div *ngIf="quejaForm.get('solicitaQue').errors && quejaForm.get('solicitaQue').dirty">
				<p *ngIf="quejaForm.get('solicitaQue').hasError('maxLength')" [ngStyle]="{color: 'red'}">Solicitud de queja solo admite 250 caracteres</p>
			  </div>
          </div>
        </div>
				
			  </div>
			</div>
		</div>
		</div>

			  
		<div class="form-group row">
          <label for="" class="col-lg-12 col-form-label">Datos Proveedor (Ingrese el NIT sin guión)</label>
		<div class="col-lg-12">
            <div class="card">
              <div class="card-body">
			  
			  <div class="form-group row">
			      <label for="et8" [ngStyle]="{color: 'red'}">(*)</label>
				  <label for="nitProveedor" class="col-lg-1 col-form-label">NIT</label>
				  <div class="col-lg-2">
					<input
					  id="nitProveedor"
					  type="text"
					  class="form-control"
					  matTooltipPosition="after"
					  matTooltip="Ingrese NIT del proveedor"
					  matTooltipClass="custom-tooltip-blue"
					  formControlName="nitProveedor"
					  
					  placeholder="NIT"
					  pattern="^[0-9]+([0-9]|[K]|[k]){1}$"
					  required>
					  <div *ngIf="quejaForm.get('nitProveedor').errors && quejaForm.get('nitProveedor').dirty">
				<p *ngIf="quejaForm.get('nitProveedor').hasError('pattern')" [ngStyle]="{color: 'red'}">Error NIT incorrecto</p>
			  </div>
				  </div>
				  <div class="col-lg-1">
					  <button type="button" class="btn btn-primary row button" (click)="onProveedorChanged()">Buscar</button>
				  </div>
				  
				   <label for="et2" [ngStyle]="{color: 'red'}" class="col-lg-1 col-form-label"></label>
				  <label for="et9" [ngStyle]="{color: 'red'}">(*)</label>
				  <label for="ubicacion" class="col-lg-2 col-form-label">Ubicacion</label>
				  <div class="col-lg-3">
				  <input
					  id="ubicacion"
					  type="text"
					  class="form-control"
					  matTooltipPosition="after"
					  matTooltip="Ingrese ubicacion"
					  matTooltipClass="custom-tooltip-blue"
					  formControlName="ubicacion"
					  placeholder="Ubicación"
					  required>
				</div>
			</div>
			
			<div class="form-group row">
			<label for="nitProveedor" class="col-lg-10 col-form-label">{{nproveedor}}</label>
				
			</div>
			
			  </div>
			</div>
		</div>
		  
		 <label class="col-form-label" >(Los campos marcados </label>
		  <label class="col-form-label" [ngStyle]="{color: 'red'}">  (*)  </label>
		  <label class="col-form-label" > son obligatorios.)</label>
		  
		</div>
	
		
		<!--
        <div class="form-group row">
          <label for="" class="col-lg-12 col-form-label">Ingrese los datos solicitados si los poseee por favor, caso contrario se notificará al consumidor por correo para  que los envie.</label>
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="form-group row">
                  <label for="filFactura" class="col-lg-2 col-form-label">Factura o Contrato</label>
                  <div class="col-lg-10">
                    <input
                      #filFactura
                      id="filFactura"
	                      type="file"
                      ng2FileSelect
                      [uploader]="uploader"
                      class="form-control"
					  matTooltipPosition="above"
					  matTooltip="Agrege copia de su documento."
					  matTooltipClass="custom-tooltip-blue"
                      (change)="onFileChanged('FAC')"
					  required>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="filDpi" class="col-lg-2 col-form-label">DPI o Pasaporte</label>
                  <div class="col-lg-10">
                    <input
                      #filDpi
                      id="filDpi"
                      type="file"
                      ng2FileSelect
                      [uploader]="uploader"
                      class="form-control"
					  matTooltipPosition="above"
					  matTooltip="Agrege su copia de DPI o Pasaporte"
					  matTooltipClass="custom-tooltip-blue"
                      (change)="onFileChanged('DPI')"
					  required>
                  </div>
                </div>
                <div class="row">
                  <p>Estos documentos deben ir completos, por ejemplo el DPI debe ser escaneado a ambos lados.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
		-->
        <div class="form-group row">
          <div class="col-lg-12 text-center">
            <button
              class="btn btn-primary"
              type="submit"
			  matTooltipPosition="after"
					  matTooltip="Grabe su queja."
					  matTooltipClass="custom-tooltip-blue"
			  [disabled]="quejaForm.invalid"
              >Guardar Queja</button>
          </div>
        </div>
      </form>
	<div *ngIf="showSpinner" class="alert alert-alert col-lg-12" [@EnterLeave]="'flyIn'">
		Favor espere se grabe su queja..
	</div>
	  
  
    </div>
  </div>
  
  <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="success">
    <strong>Queja registrada!</strong> Su queja ha sido registrada exitosamente. {{vsecanio}}-{{vanio}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onDismissClicked()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  
</div>
    <!--img src="diaco-grd.jpg" class="center"/-->
	<div class="container">
		<div class="row">
			<div class="col-lg-4 text-center">
				&nbsp;
			</div>
			<div class="col-lg-4 text-center">
				<img class="footerimg" />
			</div>
			<div class="col-lg-4 text-center">
				&nbsp;
			</div>
		</div>
	</div>


</body>
</html>
