<html>
<head>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 modaltitl">
			<table width="100%">
			<tr><td width="90%" class="modaltitltd">
				Cambiar mi clave 
			</td>
			<td width="10%" align="right" class="modaltitltd">
				<button type="button" class="modaltitlb" (click)="closeDialog()">X</button>
			</td></tr>
			</table>
		</div>
	</div>
</div>
	<form (ngSubmit)="onSubmit()" [formGroup]="MyForm" >
	<div class="container" >
		<div class="row">
		 <div class="col-lg-1">
			&nbsp;
		 </div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<b>Para cambiar su clave puede usar los siguientes caracteres, recuerde también que debe ingresar al menos 5 caracteres:</b>
			</div>	
		</div>
		<div class="row">
			<div class="col-lg-12">
				<b>Letras:</b> a b c d e f g h i j k l m n o p q r s t u v w x y z
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<b>Letras:</b> A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<b>Número:</b> 0 1 2 3 4 5 6 7 8 9
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<b>Caracteres Especiales:</b> . _
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				&nbsp;
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				&nbsp;
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				Clave Actual:
			</div>
			<div class="col-lg-8">
				<input type="password" class="form-control" id="claveanterior" name="claveanterior" formControlName="claveanterior" placeholder="clave" pattern="[A-Za-z1234567890_.]*">
			</div>
			<div *ngIf="claveanteriorCtrl.invalid && (claveanteriorCtrl.dirty && claveanteriorCtrl.touched)" class="col-lg-12">
				  <div *ngIf="claveanteriorCtrl.errors.required" class="alert alert-danger col-lg-12">
						Debe ingresar información en la sección Clave Actual
				  </div>
			</div>
			<div *ngIf="claveanteriorCtrl.invalid && (claveanteriorCtrl.dirty && claveanteriorCtrl.touched)" class="col-lg-12">
				  <div *ngIf="claveanteriorCtrl.errors.pattern" class="alert alert-danger col-lg-12">
						Ingreso un caracter inválido
				  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				&nbsp;
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				&nbsp;
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				Nueva Clave:
			</div>
			<div class="col-lg-8">
				<input type="password" class="form-control" id="clavenueva1" name="clavenueva1" formControlName="clavenueva1" (change)="CheckClavesIguales()" placeholder="clave nueva" pattern="[A-Za-z1234567890_.]*">
			</div>
			<div *ngIf="clavenueva1Ctrl.invalid && (clavenueva1Ctrl.dirty && clavenueva1Ctrl.touched)" class="col-lg-12">
				  <div *ngIf="clavenueva1Ctrl.errors.required" class="alert alert-danger col-lg-12">
						Debe ingresar información en la sección Clave Actual
				  </div>
			</div>
			<div *ngIf="clavenueva1Ctrl.invalid && (clavenueva1Ctrl.dirty && clavenueva1Ctrl.touched)" class="col-lg-12">
				  <div *ngIf="clavenueva1Ctrl.errors.pattern" class="alert alert-danger col-lg-12">
						Ingreso un caracter inválido
				  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				Confirmar Nueva Clave:
			</div>
			<div class="col-lg-8">
				<input type="password" class="form-control" id="clavenueva2" name="clavenueva2" formControlName="clavenueva2" (change)="CheckClavesIguales()" placeholder="clave nueva" pattern="[A-Za-z1234567890_.]*">
			</div>
			<div *ngIf="clavenueva2Ctrl.invalid && (clavenueva2Ctrl.dirty && clavenueva2Ctrl.touched)" class="col-lg-12">
				  <div *ngIf="clavenueva2Ctrl.errors.required" class="alert alert-danger col-lg-12">
						Debe ingresar información en la sección Clave Actual
				  </div>
			</div>
			<div *ngIf="clavenueva2Ctrl.invalid && (clavenueva2Ctrl.dirty && clavenueva2Ctrl.touched)" class="col-lg-12">
				  <div *ngIf="clavenueva2Ctrl.errors.pattern" class="alert alert-danger col-lg-12">
						Ingreso un caracter inválido
				  </div>
			</div>
			<div *ngIf="(clavenueva1Ctrl.dirty && clavenueva1Ctrl.touched && clavenueva2Ctrl.dirty && clavenueva2Ctrl.touched) && !clavesiguales" class="col-lg-12">
				<div class="alert alert-danger col-lg-12">
					La clave nueva y la confirmación de clave nueva deben ser iguales
				</div>
			</div>
			<div *ngIf="(clavenueva1Ctrl.dirty && clavenueva1Ctrl.touched && clavenueva2Ctrl.dirty && clavenueva2Ctrl.touched) && !minimocumplido" class="col-lg-12">
				<div class="alert alert-danger col-lg-12">
					La clave nueva debe tener como mínimo 5 caracteres.
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				&nbsp;
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				&nbsp;
			</div>
			<div class="col-lg-4">
				<ng-container *ngIf="flagBoton; else NoButton">
					<button class="btn btn-primary" type="button" (click)="Save()" [disabled]="!MyForm.valid || !clavesiguales || !minimocumplido">Guardar Nueva Clave</button>
				</ng-container>
				<ng-template #NoButton>
					<span><i class="icon"></i></span>&nbsp;
				</ng-template>
			</div>
		</div>
	</div>
	</form>
	<div *ngIf="flagInfoError" class="alert alert-danger col-lg-12" [@EnterLeave]="'flyIn'">
		Hubo un error al procesar esta acción, por favor intente de nuevo.
	</div>
	<div *ngIf="flagInsert" class="alert alert-success col-lg-12" [@EnterLeave]="'flyIn'">
		Se guardó su nueva clave correctamente, puede usarla la próxima vez que entre al sistema.
	</div>
	<div *ngIf="flagClave" class="alert alert-danger col-lg-12" [@EnterLeave]="'flyIn'">
		La clave actual que ingresó es incorrecta.
	</div>
</body>
</html>