textarea
{
  border:1px solid #999999;
  width:100%;
  margin:5px 0;
  padding:3px;
}

body {
  background-color: transparent;
}

.btn-image:before {
    content: "";
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 0px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}

.edit:before{
     background-image : url("../../assets/icons/edit-w.png");
}

.delete:before{
     background-image : url("../../assets/icons/x32-w.png");
}

.trash:before{
     background-image : url("../../assets/icons/trash.png");
}

table tbody tr.activetr{ background: #4da6ff !important;}
