<html>
<head>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 modaltitl">
			<table width="100%">
			<tr><td width="90%" class="modaltitltd">
				Guia de Registros
			</td>
			<td width="10%" align="right" class="modaltitltdb">
				<button type="button" class="modaltitlb" (click)="closeDialog()">X</button>
			</td></tr>
			</table>
		</div>
	</div>
</div>
<div class="container" >
<!---<ng-container *ngIf="!flag_Resultado">--->
	<div class="row">
	 <div class="col-lg-1">
		&nbsp;
	 </div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			<label><b>Registros de Atención al contribuyente:</b></label>
		 </div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Formulario de queja, <b>sección:</b> Verificación de Datos
			</div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Comunicación permanente con el consumidor, <b>sección:</b> comunicación permanente
			</div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Cédula de citación consumidor, <b>sección:</b> audiencia de conciliación/ofrecimiento medios de prueba
			</div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Cédula de citación proveedor, <b>sección:</b> audiencia de conciliación/ofrecimiento medios de prueba
			</div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Cédula notificación consumidor, <b>sección:</b> audiencia de conciliación/ofrecimiento medios de prueba
			</div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Cédula notificación proveedor, <b>sección:</b> audiencia de conciliación/ofrecimiento medios de prueba
			</div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Acta de conciliación, <b>sección:</b> acta conliciación, audiencia conciliación
			</div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Ficha de la queja, <b>sección:</b> movimiento de expediente
			</div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Resolución de archivo por visita de campo, <b>sección:</b> visita de campo
			</div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Resolución de archivo por conciliación, <b>sección:</b> acta conliciación, audiencia conciliación
			</div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Resolución de archivo por única audiencia, <b>sección:</b> acta conliciación, audiencia conciliación
			</div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Formulario movimiento de expediente, <b>sección:</b> movimiento de expediente
			</div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Acta de incomparecencia, <b>sección:</b> acta conliciación, audiencia incomparecencia
			</div>
	</div>
	<div class="row">
	 <div class="col-lg-1">
		&nbsp;
	 </div>
	</div>
	<mat-divider></mat-divider>
	<div class="row">
	 <div class="col-lg-1">
		&nbsp;
	 </div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			<label><b>Registros de Verificación y Vigilancia:</b></label>
		 </div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Visita de campo, <b>sección:</b> visita de campo.
			</div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Acta, <b>sección:</b> acta
			</div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Acta conciliación, <b>sección:</b> acta conciliación
			</div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Informe final, <b>sección:</b> informe final
			</div>
	</div>
	<div class="row">
	 <div class="col-lg-1">
		&nbsp;
	 </div>
	</div>
	<mat-divider></mat-divider>
	<div class="row">
	 <div class="col-lg-1">
		&nbsp;
	 </div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			<label><b>Registros de Jurídico:</b></label>
		 </div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Cédula de notificación diaco, <b>sección:</b> audiencia de conciliación/ofrecimiento medios de prueba
		 </div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Cédula de notificación de citación diaco, <b>sección:</b> audiencia de conciliación/ofrecimiento medios de prueba
		 </div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Acta diaco, <b>sección:</b> audiencia de conciliación/ofrecimiento medios de prueba.
		 </div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Cédula de notificación de citación por correo, <b>sección:</b> audiencia de conciliación/ofrecimiento medios de prueba
		 </div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Cédula de notificación de resolución por correo diaco, <b>sección:</b> audiencia de conciliación/ofrecimiento medios de prueba
		 </div>
	</div>
	<div class="row">
		 <div class="col-lg-12">
			Carátula expediente diaco, <b>sección:</b> documentar, acta conliciación
		 </div>
	</div>
	<div class="row">
	 <div class="col-lg-1">
		&nbsp;
	 </div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<button class="btn btn-primary" type="button" (click)="closeDialog()">Cerrar</button>
		</div>
	</div>
</div>
</body>
</html>