<h2 matDialogTitle>Información</h2>
<mat-dialog-content>
  <p>Su queja ya fue registrada, por favor complete su queja ingresando los documentos requeridos. <br> 
   Presione por favor el boton "Continuar" <br>
   *NOTA:  si sus datos no aparecen posiblemente su acceso ya vencio o ya ingreso sus documentos.  <br>
  Gracias.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!--button mat-button matDialogClose="cancel" color="primary">Cancel</button-->
  <button mat-button matDialogClose="confirm" color="warn">Continuar</button>
</mat-dialog-actions>